glob2
numpy
scipy
pandas
matplotlib
seaborn
scikit-learn
pytest-shutil
tqdm
opencv-python
pretrainedmodels
efficientnet_pytorch
jupyterlab
pillow
tensorboardX
torchsummary
python-telegram-bot
sacred
imgaug

